@font-face {
  font-family: Roboto;
  src: url('Roboto-Medium.ttf');
  }

::-webkit-scrollbar {
    display: none;
}

body {
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
  margin: 0;
}
h1 {
 line-height: 1;
 margin-block-end: 0;
}
h3 {
	margin: 0
}

a {
	text-decoration: none;
	color: white;
}

#header-container {
  padding-left: 10px;
}

#header {
  background-color: black;
  padding: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 2;
}

#label {
  display: inline-block;

}

#logo {
  display: inline-block;
  background-image: url(resources/logoBig.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 234px;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 12px;
  background-image: url(resources/hamburger.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 29px;
}

#intro {
  padding-top: 50;
  overflow: hidden;
  max-height: 1000px;
}

#content {
color: white;
font-family: Roboto;
font-size: 1.4em;
border: 0;
border-style: solid;
border-width: 1px 0 0 0;
}

.sectionContent {
	width: 90%;
	margin: 0 0 0 5%;
}

#content>div {
	height: 487px;
	border-width: 1px 0 0 0;
    border-style: solid;
}

#section1 {
  background-position: center;
  background-size: cover;
  background-image: url("media/drone.jpg");
}

#section2 {
  background-position: center;
  background-size: cover;
  background-image: url("media/drone2.jpg");
}

#section3 {
  background-position: center;
  background-size: cover;
  background-image: url("media/drone3.jpg");
}

#sectionBoard {
	background: url('resources/section4.png');
	height: 814px !important;
}

#videos {
  height: 430px !important;
  background-size: cover;
  background-image: url("resources/videos.jpg");
  background-position: center;
}

#videos>div {
  padding: 20px;
  width: 300px;
}

.videoContainer {
	height: 90px;

}
.thumbnail {
	width: 160px;
	height: 90px;
	display: inline-block;

}
.videoInfo {
	display: inline-block;
	height: 90px;
	width: 140px;
	line-height: 1.2;
	font-size: 0.7em;
	position: absolute;
}

.videoInfo p {
    margin: 16px 0 0 10px;
    height: 100%;
}

#board {
	width: 90%;
	margin: 5%;
	position: absolute;
}

.img-wrapper {

}

.img-wrapper img {
  width: 100%;
}

#board>div {
	height: 620px;
  width: 98%;
	overflow: scroll;
    border-style: solid;
	position: absolute;
	}



#content>#mandatorySection{
  height: auto;
  padding-bottom: 10px;
}

#mandatoryWrapper {
  width: 90%;
  height: 90vw;
  margin: 5%;
}

#mandatoryImg {
  height: 100%;
  width: 100%;
}

#content>#merchSection {
  background: url('media/merchBackground.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
  padding-bottom: 1px;
}

#merchIcon {
  width: 90%;
  margin: 5% 5% 5% 5%;
  height: 90vw;
}

#merchIcon>a>img {
  width: 100%;
  height: 90vw;
}

#theBottom {
	height: 180px !important;
}

@media only screen and (min-width: 612px) {
  #content>#mandatorySection {
    height: 800px;
  }
  #mandatorySection>.sectionContent {
    position: absolute;
    right: 50%;
    width: 600px;
  }
  #mandatorySection>.sectionContent>div {
    right: -50%;
    position: relative;
  }

  #mandatoryWrapper {
    position: absolute;
    width: 550px;
    height: 550px;
    right: 50%;
    margin: 220px 0 0 0;
  }
  #mandatoryWrapper button {
    right: -50%;
    position: relative;
    }
    #content>#merchSection {
      height: 720px;
    }

    #merchIcon {
      position: absolute;
      right: 50%;
      width: 550px;
      height: 550px ;
      margin: 0 0 0 0;
    }

    .hover550 {
    width: 550px;
    height: 550px;
    position: absolute;
    background: white;
    opacity: 0;
    transition: opacity .2s
    }

    .hover550:hover {
    width: 550px;
    height: 550px;
    position: absolute;
    background: white;
    opacity: 0.2;
    }

    #merchIcon a {
      position: relative;
      right: -50%;
      height: 100% !important;
    }
    #merchIcon>a>img {
      height: 100%
}

@media only screen and (min-width: 800px){
	#board {
		width: 720px;
		margin: 0;
		right: 50%;
	}
	#board>div {
		right:-50%;
		position: relative;
		margin: 0px 0px 20px 0px;
	}
}
