@font-face {
  font-family: Roboto;
  src: url('Roboto-Medium.ttf');
  }
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Roboto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  margin: 0;
}
#pageWrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
h1 {
  line-height: 1;
  margin-block-end: 0;
}
h3 {
	margin: 0
}
a {
	text-decoration: none;
	color: white;
}
#header-container {
  padding-left: 10px;
}
#header {
  background-color: black;
  padding: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 2;
}
#label {
  display: inline-block;
}
#logo {
  display: inline-block;
  background-image: url(resources/logoBig.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 234px;
}
.hamburger {
  background-image: url(resources/hamburger.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 29px;
}
.toggle {
text-decoration: none;
position: absolute;
top: 0;
right: 12px;
-webkit-transition: all 0.2s ease-out 0;
-moz-transition: all 0.2s ease-out 0;
transition: all 0.45s ease-out 0;
z-index: 1;
cursor: pointer;
}
.sidebar {
position: absolute;
text-align: right;
width: 110px;
right: -190px;
-webkit-transition: right 0.15s;
-moz-transition: right 0.15s;
transition: right 0.15s;
padding: 10px;
background: black;
}
.sidebar ul {
list-style: none;
margin: 0;
padding: 0;
}
.sidebar li a {
color: #fff;
font-size: 1.2em;
margin: 0;
margin-bottom: 16px;
cursor: pointer;
text-decoration: none;
line-height: 200%;
}
.sidebar a:hover {
  color: cyan;
}
#slide:checked + .container .sidebar {
right: 0px;
 }
#slide {
  display: none;
}
#intro {
  padding-top: 50;
  overflow: hidden;
  max-height: 1000px;
  background: url('resources/icon.jpg');
  background-position: center;
}
#content {
color: white;
font-size: 1.4em;
border: 0;
border-style: solid;
border-width: 1px 0 0 0;
}
.sectionContent {
	width: 90%;
	margin: 0 0 0 5%;
  padding-bottom: 1px;
}
#content>div {
	border-width: 1px 0 0 0;
  border-style: solid;
}
#welcomeSection {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url("media/drone.jpg");
}
#welcomeSection span, #welcomeSection p {
  padding: 5px;
  background: black;
}
#welcomeSection .sectionContent {
  text-align: justify;
  text-align-last: center;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
#art1 {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url("media/drone2.jpg");
}
#art2 {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url("media/drone3.jpg");
}
#videos {
  height: 85vw;
  background-size: cover;
  background-image: url("resources/videos.jpg");
  background-position: center;

}
#videos>div {
  padding: 20px;
  width: 300px;
}
#videos iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
    border: solid;
}
.videoContainer {
	height: 90px;
}
.thumbnail {
	width: 160px;
	height: 90px;
	display: inline-block;
}
.videoInfo {
	display: inline-block;
	height: 90px;
	width: 140px;
	line-height: 1.2;
	font-size: 0.7em;
	position: absolute;
}
.videoInfo p {
    margin: 16px 0 0 10px;
    height: 100%;
}
#sectionBoard {
	background: url('resources/section4.png');
	height: auto;
  padding-bottom: 24px;
}
#board {
	width: 90%;
  height: 90vw;
	margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: scroll;
  border-style: solid;
}
#board>picture {
	height: 620px;
  width: 100%;
}
#board img{
  width: 100%;
}
#mandatorySection{
  height: auto;
  padding-bottom: 24px;
}
#mandatorySection>.sectionContent {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#mandatoryWrapper {
  width: 90%;
  height: 90vw;
  margin-left: auto;
  margin-right: auto;
}
#mandatoryWrapper button {
  padding: 0;
  border-style: none;
}
#mandatoryImg {
  height: 100%;
  width: 100%;
}
#merchSection {
  background: url('media/merchBackground.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
  padding-bottom: 24px;
}
#merchIcon {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 90vw;
  border-style: solid;
  border-color: white;
}
#merchIcon img {
  width: 100%;
  height: 100%;
}
#merchIcon:hover {
  border-style: solid;
  border-color: red;
}
#mandatoryWrapper {
 padding: 0;
 border-style: solid;
 border-color: white;
}
#mandatoryWrapper:hover {
 border-style: solid;
 border-color: red;
}
#theBottom {
	height: 180px !important;
}

@media only screen and (min-width: 612px) {
  #welcomeSection {
    height: 600px;
  }
  #board {
		width: 550px;
    height: 550px;
	}
  #mandatorySection>.sectionContent {
    width: 595px;
  }
  #mandatoryWrapper {
    display: block;
    width: 550px;
    height: 550px;
  }
  #videos {
    height: 480px;
  }
  #merchIcon {
    width: 550px;
    height: 550px;
  }
  #welcomeSection .sectionContent {
  width: 600px;
  }
}
@media only screen and (max-width: 612px) {
  #videos iframe {
    width: 90%;
    height: 50vw;
  }
}
